# .htaccess to rewrite OpenCL refpage aliases to the actual aliased page
# This is boilerplate to which a dynamically generated list of rewrite rules
# is appended while building outputs.

Options +Indexes +FollowSymLinks

# Redirect aliases of refpages

RewriteEngine on

# Ensure we use www.
# RewriteCond %{HTTP_HOST} ^khronos.org
# RewriteCond %{HTTPS} ^on

# Avoid redirect loops
RewriteCond %{ENV:REDIRECT_STATUS} 200
RewriteRule ^ - [L]

# Redirects for aliased static pages
# These are for OpenCL 2.2 refpages, and may no longer be applicable to 3.0

# These are all for enumerated types in enums.html
RewriteRule ^cl_addressing_mode.html$ enums.html
RewriteRule ^cl_bool.html$ enums.html
RewriteRule ^cl_buffer_create_type.html$ enums.html
RewriteRule ^cl_build_status.html$ enums.html
RewriteRule ^cl_channel_order.html$ enums.html
RewriteRule ^cl_channel_type.html$ enums.html
RewriteRule ^cl_command_queue_info.html$ enums.html
RewriteRule ^cl_command_queue_properties.html$ enums.html
RewriteRule ^cl_command_type.html$ enums.html
RewriteRule ^cl_context_info.html$ enums.html
RewriteRule ^cl_context_properties.html$ enums.html
RewriteRule ^cl_d3d10_device_set_khr.html$ enums.html
RewriteRule ^cl_d3d10_device_source_khr.html$ enums.html
RewriteRule ^cl_device_affinity_domain.html$ enums.html
RewriteRule ^cl_device_exec_capabilities.html$ enums.html
RewriteRule ^cl_device_fp_config.html$ enums.html
RewriteRule ^cl_device_info.html$ enums.html
RewriteRule ^cl_device_local_mem_type.html$ enums.html
RewriteRule ^cl_device_mem_cache_type.html$ enums.html
RewriteRule ^cl_device_partition_property.html$ enums.html
RewriteRule ^cl_device_type.html$ enums.html
RewriteRule ^cl_event_info.html$ enums.html
RewriteRule ^cl_filter_mode.html$ enums.html
RewriteRule ^cl_gl_context_info.html$ enums.html
RewriteRule ^cl_gl_object_type.html$ enums.html
RewriteRule ^cl_gl_texture_info.html$ enums.html
RewriteRule ^cl_image_info.html$ enums.html
RewriteRule ^cl_kernel_arg_address_qualifier.html$ enums.html
RewriteRule ^cl_kernel_arg_access_qualifier.html$ enums.html
RewriteRule ^cl_kernel_arg_info.html$ enums.html
RewriteRule ^cl_kernel_arg_type_qualifier.html$ enums.html
RewriteRule ^cl_kernel_exec_info.html$ enums.html
RewriteRule ^cl_kernel_info.html$ enums.html
RewriteRule ^cl_kernel_sub_group_info.html$ enums.html
RewriteRule ^cl_kernel_work_group_info.html$ enums.html
RewriteRule ^cl_map_flags.html$ enums.html
RewriteRule ^cl_mem_fence_flags.html$ enums.html
RewriteRule ^cl_mem_flags.html$ enums.html
RewriteRule ^cl_mem_info.html$ enums.html
RewriteRule ^cl_mem_migration_flags.html$ enums.html
RewriteRule ^cl_mem_object_type.html$ enums.html
RewriteRule ^cl_pipe_info.html$ enums.html
RewriteRule ^cl_platform_info.html$ enums.html
RewriteRule ^cl_profiling_info.html$ enums.html
RewriteRule ^cl_program_binary_type.html$ enums.html
RewriteRule ^cl_program_build_info.html$ enums.html
RewriteRule ^cl_program_info.html$ enums.html
RewriteRule ^cl_sampler_info.html$ enums.html
RewriteRule ^cl_sampler_properties.html$ enums.html
RewriteRule ^cl_svm_mem_flags.html$ enums.html
RewriteRule ^memory_order.html$ enums.html
RewriteRule ^memory_scope.html$ enums.html

# Other aliases
RewriteRule ^cl_khr_mipmap_image_writes.html$ cl_khr_mipmap_image.html
RewriteRule ^cl_command_queue.html$ abstractDataTypes.html
RewriteRule ^cl_context.html$ abstractDataTypes.html
RewriteRule ^cl_device_id.html$ abstractDataTypes.html
RewriteRule ^cl_event.html$ abstractDataTypes.html
RewriteRule ^cl_kernel.html$ abstractDataTypes.html
RewriteRule ^cl_mem.html$ abstractDataTypes.html
RewriteRule ^cl_platform_id.html$ abstractDataTypes.html
RewriteRule ^cl_program.html$ abstractDataTypes.html
RewriteRule ^cl_sampler.html$ abstractDataTypes.html

# Data types used in APIs, but not otherwise described in the specification
RewriteRule ^cl_mem_properties.html$ clCreateBuffer.html
RewriteRule ^cl_pipe_properties.html$ clCreatePipe.html
RewriteRule ^cl_queue_properties.html$ clCreateCommandQueueWithProperties.html

# Pages with no documentation at all, yet
RewriteRule ^get_image_num_mip_levels.html$ deadLinks.html
RewriteRule ^cles_khr_int64.html$ deadLinks.html

# Aliases hard-coded in refpage markup
RewriteRule ^abs.html$ integerFunctions.html
RewriteRule ^acosh.html$ mathFunctions.html
RewriteRule ^acos.html$ mathFunctions.html
RewriteRule ^acospi.html$ mathFunctions.html
RewriteRule ^add_sat.html$ integerFunctions.html
RewriteRule ^all.html$ relationalFunctions.html
RewriteRule ^any.html$ relationalFunctions.html
RewriteRule ^asinh.html$ mathFunctions.html
RewriteRule ^asin.html$ mathFunctions.html
RewriteRule ^asinpi.html$ mathFunctions.html
RewriteRule ^async_work_group_copy_2D2D.html$ extendedAsyncCopyFunctions.html
RewriteRule ^async_work_group_copy_3D3D.html$ extendedAsyncCopyFunctions.html
RewriteRule ^async_work_group_copy_fence.html$ asyncCopyFunctions.html
RewriteRule ^async_work_group_copy.html$ asyncCopyFunctions.html
RewriteRule ^async_work_group_strided_copy.html$ asyncCopyFunctions.html
RewriteRule ^atan2.html$ mathFunctions.html
RewriteRule ^atan2pi.html$ mathFunctions.html
RewriteRule ^atanh.html$ mathFunctions.html
RewriteRule ^atan.html$ mathFunctions.html
RewriteRule ^atanpi.html$ mathFunctions.html
RewriteRule ^atomic_double.html$ atomicTypes.html
RewriteRule ^atomic_flag_test_and_set_explicit.html$ atomicFlagTestAndSet.html
RewriteRule ^atomic_flag_test_and_set.html$ atomicFlagTestAndSet.html
RewriteRule ^atomic_float.html$ atomicTypes.html
RewriteRule ^atomic_int.html$ atomicTypes.html
RewriteRule ^atomic_intptr_t.html$ atomicTypes.html
RewriteRule ^atomic_long.html$ atomicTypes.html
RewriteRule ^atomic_ptrdiff_t.html$ atomicTypes.html
RewriteRule ^atomic_size_t.html$ atomicTypes.html
RewriteRule ^atomic_uint.html$ atomicTypes.html
RewriteRule ^atomic_uintptr_t.html$ atomicTypes.html
RewriteRule ^atomic_ulong.html$ atomicTypes.html
RewriteRule ^barrier.html$ syncFunctions.html
RewriteRule ^bitfield_extract_signed.html$ extendedBitOperations.html
RewriteRule ^bitfield_extract_unsigned.html$ extendedBitOperations.html
RewriteRule ^bitfield_insert.html$ extendedBitOperations.html
RewriteRule ^bit_reverse.html$ extendedBitOperations.html
RewriteRule ^bitselect.html$ relationalFunctions.html
RewriteRule ^capture_event_profiling_info.html$ eventFunctions.html
RewriteRule ^cbrt.html$ mathFunctions.html
RewriteRule ^ceil.html$ mathFunctions.html
RewriteRule ^clamp_integer.html$ integerFunctions.html
RewriteRule ^cl_char.html$ appScalarTypes.html
RewriteRule ^cl_charn.html$ appVectorTypes.html
RewriteRule ^clCreateBufferWithProperties.html$ clCreateBuffer.html
RewriteRule ^clCreateCommandQueueWithPropertiesKHR.html$ clCreateCommandQueueWithProperties.html
RewriteRule ^clCreateImageWithProperties.html$ clCreateImage.html
RewriteRule ^clCreateProgramWithILKHR.html$ clCreateProgramWithIL.html
RewriteRule ^cl_double.html$ appScalarTypes.html
RewriteRule ^cl_doublen.html$ appVectorTypes.html
RewriteRule ^clEnqueueWriteBuffer.html$ clEnqueueReadBuffer.html
RewriteRule ^clEnqueueWriteBufferRect.html$ clEnqueueReadBufferRect.html
RewriteRule ^clEnqueueWriteImage.html$ clEnqueueReadImage.html
RewriteRule ^cl_float.html$ appScalarTypes.html
RewriteRule ^cl_floatn.html$ appVectorTypes.html
RewriteRule ^cl_half.html$ appScalarTypes.html
RewriteRule ^cl_halfn.html$ appVectorTypes.html
RewriteRule ^cl_int.html$ appScalarTypes.html
RewriteRule ^cl_intn.html$ appVectorTypes.html
RewriteRule ^cl_long.html$ appScalarTypes.html
RewriteRule ^cl_longn.html$ appVectorTypes.html
RewriteRule ^cl_short.html$ appScalarTypes.html
RewriteRule ^cl_shortn.html$ appVectorTypes.html
RewriteRule ^cl_uchar.html$ appScalarTypes.html
RewriteRule ^cl_ucharn.html$ appVectorTypes.html
RewriteRule ^cl_uint.html$ appScalarTypes.html
RewriteRule ^cl_uintn.html$ appVectorTypes.html
RewriteRule ^cl_ulong.html$ appScalarTypes.html
RewriteRule ^cl_ulongn.html$ appVectorTypes.html
RewriteRule ^cl_ushort.html$ appScalarTypes.html
RewriteRule ^cl_ushortn.html$ appVectorTypes.html
RewriteRule ^CL_VERSION_1_0.html$ preprocessorDirectives.html
RewriteRule ^CL_VERSION_1_1.html$ preprocessorDirectives.html
RewriteRule ^CL_VERSION_1_2.html$ preprocessorDirectives.html
RewriteRule ^CL_VERSION_2_0.html$ preprocessorDirectives.html
RewriteRule ^CL_VERSION_2_1.html$ preprocessorDirectives.html
RewriteRule ^CL_VERSION_2_2.html$ preprocessorDirectives.html
RewriteRule ^CL_VERSION_3_0.html$ preprocessorDirectives.html
RewriteRule ^clz.html$ integerFunctions.html
RewriteRule ^commit_read_pipe.html$ pipeFunctions.html
RewriteRule ^commit_write_pipe.html$ pipeFunctions.html
RewriteRule ^commonClamp.html$ commonFunctions.html
RewriteRule ^commonMax.html$ commonFunctions.html
RewriteRule ^commonMin.html$ commonFunctions.html
RewriteRule ^copysign.html$ mathFunctions.html
RewriteRule ^cosh.html$ mathFunctions.html
RewriteRule ^cos.html$ mathFunctions.html
RewriteRule ^cospi.html$ mathFunctions.html
RewriteRule ^create_user_event.html$ eventFunctions.html
RewriteRule ^cross.html$ geometricFunctions.html
RewriteRule ^ctz.html$ integerFunctions.html
RewriteRule ^degrees.html$ commonFunctions.html
RewriteRule ^distance.html$ geometricFunctions.html
RewriteRule ^divide.html$ mathFunctions.html
RewriteRule ^dot.html$ geometricFunctions.html
RewriteRule ^erfc.html$ mathFunctions.html
RewriteRule ^erf.html$ mathFunctions.html
RewriteRule ^exp10.html$ mathFunctions.html
RewriteRule ^exp2.html$ mathFunctions.html
RewriteRule ^exp.html$ mathFunctions.html
RewriteRule ^expm1.html$ mathFunctions.html
RewriteRule ^extern.html$ storageSpecifiers.html
RewriteRule ^fabs.html$ mathFunctions.html
RewriteRule ^fast_distance.html$ geometricFunctions.html
RewriteRule ^fast_length.html$ geometricFunctions.html
RewriteRule ^fast_normalize.html$ geometricFunctions.html
RewriteRule ^fdim.html$ mathFunctions.html
RewriteRule ^floor.html$ mathFunctions.html
RewriteRule ^fma.html$ mathFunctions.html
RewriteRule ^fmax.html$ mathFunctions.html
RewriteRule ^fmin.html$ mathFunctions.html
RewriteRule ^fmod.html$ mathFunctions.html
RewriteRule ^FP_CONTRACT.html$ fpMacros.html
RewriteRule ^FP_FAST_FMAF.html$ fpMacros.html
RewriteRule ^FP_FAST_FMA.html$ fpMacros.html
RewriteRule ^fract.html$ mathFunctions.html
RewriteRule ^frexp.html$ mathFunctions.html
RewriteRule ^functionQualifiers.html$ kernel.html
RewriteRule ^get_default_queue.html$ helperFunctions.html
RewriteRule ^get_enqueued_local_size.html$ workItemFunctions.html
RewriteRule ^get_fence.html$ addressSpaceQualifierFuncs.html
RewriteRule ^get_global_id.html$ workItemFunctions.html
RewriteRule ^get_global_linear_id.html$ workItemFunctions.html
RewriteRule ^get_global_offset.html$ workItemFunctions.html
RewriteRule ^get_global_size.html$ workItemFunctions.html
RewriteRule ^get_group_id.html$ workItemFunctions.html
RewriteRule ^get_image_array_size.html$ imageQueryFunctions.html
RewriteRule ^get_image_channel_data_type.html$ imageQueryFunctions.html
RewriteRule ^get_image_channel_order.html$ imageQueryFunctions.html
RewriteRule ^get_image_depth.html$ imageQueryFunctions.html
RewriteRule ^get_image_dim.html$ imageQueryFunctions.html
RewriteRule ^get_image_height.html$ imageQueryFunctions.html
RewriteRule ^get_image_width.html$ imageQueryFunctions.html
RewriteRule ^get_kernel_max_sub_group_size_for_ndrange.html$ subGroupFunctions.html
RewriteRule ^get_kernel_preferred.html$ kernelQueryFunctions.html
RewriteRule ^get_kernel_sub_group_count_for_ndrange.html$ subGroupFunctions.html
RewriteRule ^get_kernel_work_group_size.html$ kernelQueryFunctions.html
RewriteRule ^get_local_id.html$ workItemFunctions.html
RewriteRule ^get_local_linear_id.html$ workItemFunctions.html
RewriteRule ^get_local_size.html$ workItemFunctions.html
RewriteRule ^get_num_groups.html$ workItemFunctions.html
RewriteRule ^get_pipe_max_packets.html$ pipeQueryFunctions.html
RewriteRule ^get_pipe_num_packets.html$ pipeQueryFunctions.html
RewriteRule ^get_work_dim.html$ workItemFunctions.html
RewriteRule ^hadd.html$ integerFunctions.html
RewriteRule ^half_cos.html$ mathFunctions.html
RewriteRule ^half_divide.html$ mathFunctions.html
RewriteRule ^half_exp10.html$ mathFunctions.html
RewriteRule ^half_exp2.html$ mathFunctions.html
RewriteRule ^half_exp.html$ mathFunctions.html
RewriteRule ^half_log10.html$ mathFunctions.html
RewriteRule ^half_log2.html$ mathFunctions.html
RewriteRule ^half_log.html$ mathFunctions.html
RewriteRule ^half_powr.html$ mathFunctions.html
RewriteRule ^half_recip.html$ mathFunctions.html
RewriteRule ^half_rsqrt.html$ mathFunctions.html
RewriteRule ^half_sin.html$ mathFunctions.html
RewriteRule ^half_sqrt.html$ mathFunctions.html
RewriteRule ^half_tan.html$ mathFunctions.html
RewriteRule ^HUGE_VALF.html$ mathConstants.html
RewriteRule ^HUGE_VAL.html$ mathConstants.html
RewriteRule ^hypot.html$ mathFunctions.html
RewriteRule ^ilogb.html$ mathFunctions.html
RewriteRule ^INFINITY.html$ mathConstants.html
RewriteRule ^integerMax.html$ integerFunctions.html
RewriteRule ^integerMin.html$ integerFunctions.html
RewriteRule ^isequal.html$ relationalFunctions.html
RewriteRule ^isfinite.html$ relationalFunctions.html
RewriteRule ^isgreaterequal.html$ relationalFunctions.html
RewriteRule ^isgreater.html$ relationalFunctions.html
RewriteRule ^isinf.html$ relationalFunctions.html
RewriteRule ^islessequal.html$ relationalFunctions.html
RewriteRule ^islessgreater.html$ relationalFunctions.html
RewriteRule ^isless.html$ relationalFunctions.html
RewriteRule ^isnan.html$ relationalFunctions.html
RewriteRule ^isnormal.html$ relationalFunctions.html
RewriteRule ^isnotequal.html$ relationalFunctions.html
RewriteRule ^isordered.html$ relationalFunctions.html
RewriteRule ^isunordered.html$ relationalFunctions.html
RewriteRule ^is_valid_event.html$ eventFunctions.html
RewriteRule ^is_valid_reserve_id.html$ pipeFunctions.html
RewriteRule ^ldexp.html$ mathFunctions.html
RewriteRule ^length.html$ geometricFunctions.html
RewriteRule ^lgamma.html$ mathFunctions.html
RewriteRule ^lgamma_r.html$ mathFunctions.html
RewriteRule ^log10.html$ mathFunctions.html
RewriteRule ^log1p.html$ mathFunctions.html
RewriteRule ^log2.html$ mathFunctions.html
RewriteRule ^logb.html$ mathFunctions.html
RewriteRule ^log.html$ mathFunctions.html
RewriteRule ^macroLimits.html$ fpMacros.html
RewriteRule ^mad24.html$ integerFunctions.html
RewriteRule ^mad_hi.html$ integerFunctions.html
RewriteRule ^mad.html$ mathFunctions.html
RewriteRule ^mad_sat.html$ integerFunctions.html
RewriteRule ^MAXFLOAT.html$ mathConstants.html
RewriteRule ^maxmag.html$ mathFunctions.html
RewriteRule ^mem_fence.html$ legacyFenceFunctions.html
RewriteRule ^minmag.html$ mathFunctions.html
RewriteRule ^mix.html$ commonFunctions.html
RewriteRule ^modf.html$ mathFunctions.html
RewriteRule ^mul24.html$ integerFunctions.html
RewriteRule ^mul_hi.html$ integerFunctions.html
RewriteRule ^NAN.html$ mathConstants.html
RewriteRule ^nan.html$ mathFunctions.html
RewriteRule ^native_cos.html$ mathFunctions.html
RewriteRule ^native_divide.html$ mathFunctions.html
RewriteRule ^native_exp10.html$ mathFunctions.html
RewriteRule ^native_exp2.html$ mathFunctions.html
RewriteRule ^native_exp.html$ mathFunctions.html
RewriteRule ^native_log10.html$ mathFunctions.html
RewriteRule ^native_log2.html$ mathFunctions.html
RewriteRule ^native_log.html$ mathFunctions.html
RewriteRule ^native_powr.html$ mathFunctions.html
RewriteRule ^native_recip.html$ mathFunctions.html
RewriteRule ^native_rsqrt.html$ mathFunctions.html
RewriteRule ^native_sin.html$ mathFunctions.html
RewriteRule ^native_sqrt.html$ mathFunctions.html
RewriteRule ^native_tan.html$ mathFunctions.html
RewriteRule ^ndrange_1D.html$ helperFunctions.html
RewriteRule ^ndrange_2D.html$ helperFunctions.html
RewriteRule ^ndrange_3D.html$ helperFunctions.html
RewriteRule ^ndrange.html$ helperFunctions.html
RewriteRule ^nextafter.html$ mathFunctions.html
RewriteRule ^normalize.html$ geometricFunctions.html
RewriteRule ^popcount.html$ integerFunctions.html
RewriteRule ^pow.html$ mathFunctions.html
RewriteRule ^pown.html$ mathFunctions.html
RewriteRule ^powr.html$ mathFunctions.html
RewriteRule ^prefetch.html$ asyncCopyFunctions.html
RewriteRule ^radians.html$ commonFunctions.html
RewriteRule ^read_imagef.html$ imageReadFunctions.html
RewriteRule ^read_imagei.html$ imageReadFunctions.html
RewriteRule ^read_imageui.html$ imageReadFunctions.html
RewriteRule ^read_mem_fence.html$ legacyFenceFunctions.html
RewriteRule ^read_pipe.html$ pipeFunctions.html
RewriteRule ^recip.html$ mathFunctions.html
RewriteRule ^release_event.html$ eventFunctions.html
RewriteRule ^remainder.html$ mathFunctions.html
RewriteRule ^remquo.html$ mathFunctions.html
RewriteRule ^reqd_work_group_size.html$ optionalAttributeQualifiers.html
RewriteRule ^reserve_read_pipe.html$ pipeFunctions.html
RewriteRule ^reserve_write_pipe.html$ pipeFunctions.html
RewriteRule ^retain_event.html$ eventFunctions.html
RewriteRule ^rint.html$ mathFunctions.html
RewriteRule ^rootn.html$ mathFunctions.html
RewriteRule ^rotate.html$ integerFunctions.html
RewriteRule ^round.html$ mathFunctions.html
RewriteRule ^rsqrt.html$ mathFunctions.html
RewriteRule ^sampler_t.html$ samplers.html
RewriteRule ^select.html$ relationalFunctions.html
RewriteRule ^set_user_event_status.html$ eventFunctions.html
RewriteRule ^shuffle.html$ miscVectorFunctions.html
RewriteRule ^signbit.html$ relationalFunctions.html
RewriteRule ^sign.html$ commonFunctions.html
RewriteRule ^sincos.html$ mathFunctions.html
RewriteRule ^sinh.html$ mathFunctions.html
RewriteRule ^sin.html$ mathFunctions.html
RewriteRule ^sinpi.html$ mathFunctions.html
RewriteRule ^smoothstep.html$ commonFunctions.html
RewriteRule ^sqrt.html$ mathFunctions.html
RewriteRule ^static.html$ storageSpecifiers.html
RewriteRule ^step.html$ commonFunctions.html
RewriteRule ^sub_gorup_reserve_write_pipe.html$ subGroupFunctions.html
RewriteRule ^sub_group_all.html$ subGroupFunctions.html
RewriteRule ^sub_group_any.html$ subGroupFunctions.html
RewriteRule ^sub_group_broadcast.html$ subGroupFunctions.html
RewriteRule ^sub_group_commit_read_pipe.html$ subGroupFunctions.html
RewriteRule ^sub_group_commit_write_pipe.html$ subGroupFunctions.html
RewriteRule ^sub_group_reduce.html$ subGroupFunctions.html
RewriteRule ^sub_group_reserve_read_pipe.html$ subGroupFunctions.html
RewriteRule ^sub_group_scan_exclusive.html$ subGroupFunctions.html
RewriteRule ^sub_group_scan_inclusive.html$ subGroupFunctions.html
RewriteRule ^sub_sat.html$ integerFunctions.html
RewriteRule ^tanh.html$ mathFunctions.html
RewriteRule ^tan.html$ mathFunctions.html
RewriteRule ^tanpi.html$ mathFunctions.html
RewriteRule ^tgamma.html$ mathFunctions.html
RewriteRule ^to_global.html$ addressSpaceQualifierFuncs.html
RewriteRule ^to_local.html$ addressSpaceQualifierFuncs.html
RewriteRule ^to_private.html$ addressSpaceQualifierFuncs.html
RewriteRule ^trunc.html$ mathFunctions.html
RewriteRule ^typedef.html$ storageSpecifiers.html
RewriteRule ^upsample.html$ integerFunctions.html
RewriteRule ^vec_step.html$ miscVectorFunctions.html
RewriteRule ^vec_type_hint.html$ optionalAttributeQualifiers.html
RewriteRule ^vloada_halfn.html$ vectorDataLoadandStoreFunctions.html
RewriteRule ^vload_half.html$ vectorDataLoadandStoreFunctions.html
RewriteRule ^vload_halfn.html$ vectorDataLoadandStoreFunctions.html
RewriteRule ^vloadn.html$ vectorDataLoadandStoreFunctions.html
RewriteRule ^vstorea_halfn.html$ vectorDataLoadandStoreFunctions.html
RewriteRule ^vstore_half.html$ vectorDataLoadandStoreFunctions.html
RewriteRule ^vstore_halfn.html$ vectorDataLoadandStoreFunctions.html
RewriteRule ^vstoren.html$ vectorDataLoadandStoreFunctions.html
RewriteRule ^wait_group_events.html$ asyncCopyFunctions.html
RewriteRule ^work_group_all.html$ workGroupUniformArithmeticFunctions.html
RewriteRule ^work_group_any.html$ workGroupUniformArithmeticFunctions.html
RewriteRule ^work_group_barrier.html$ syncFunctions.html
RewriteRule ^work_group_broadcast.html$ workGroupUniformArithmeticFunctions.html
RewriteRule ^work_group_commit_read_pipe.html$ pipeWorkgroupFunctions.html
RewriteRule ^work_group_commit_write_pipe.html$ pipeWorkgroupFunctions.html
RewriteRule ^work_group_reduce.html$ workGroupUniformArithmeticFunctions.html
RewriteRule ^work_group_reserve_read_pipe.html$ pipeWorkgroupFunctions.html
RewriteRule ^work_group_reserve_write_pipe.html$ pipeWorkgroupFunctions.html
RewriteRule ^work_group_scan_exclusive.html$ workGroupUniformArithmeticFunctions.html
RewriteRule ^work_group_scan_inclusive.html$ workGroupUniformArithmeticFunctions.html
RewriteRule ^work_group_size_hint.html$ optionalAttributeQualifiers.html
RewriteRule ^write_imagef.html$ imageWriteFunctions.html
RewriteRule ^write_imagei.html$ imageWriteFunctions.html
RewriteRule ^write_imageui.html$ imageWriteFunctions.html
RewriteRule ^write_mem_fence.html$ legacyFenceFunctions.html
RewriteRule ^write_pipe.html$ pipeFunctions.html
